# **Variables & Data Types**

A. Numeric Types

In [ ]:
x = 18 # int : Integer (whole number)
y = 18.7 # float : Decimal numbers
z = 2 + 3j # complex : 	Complex numbers

B. Text Type

In [ ]:
message = "Hello, World!" # str : String (text)

C. Boolean Type

In [ ]:
is_valide = True # bool
is_student = False # bool

D. Sequence Types

In [ ]:
fruits = ["apple", "banana", "mango"]  # list : Ordered, changeable, allows duplicates
coordinates = (10, 20)                 # tuple : rdered, unchangeable, allows duplicates

E. Set Types

In [ ]:
unique_ids={101,102,103} # set : Unordered, no duplicates

F. Mapping Type

In [ ]:
student = {"name": "Ali","age": 20,"grade": "A"} # dict	: Key-value pairs

# **Working with Strings**

Escape Characters

In [ ]:
print("Hello \n World") # New line
print("Hello \t World") # Tab space
print("Hello \\ World") # Backslash \
print("Hello \'World\'") # Single quote '
print("Hello \"World\"") # Double quote "

Hello
 World
Hello 	 World
Hello \ World
Hello 'World'
Hello "World"

Useful String Methods

In [ ]:
new_message = "Hello wOrlD, to, mohamed, AYMAN"
print(new_message.upper()) #convert to Uppercase
print(new_message.lower()) #convert to lowerrcase

print(new_message.capitalize()) #Capitalizes first letter
print(new_message.title()) #Capitalizes first letter of each word

print(new_message.strip()) #Removes whitespace from both ends
print(new_message.replace("to", "from")) #Replaces a with b

print(new_message.split(", ")) #Splits string into list
print(new_message.join(["I"," Love", " You"])) #Joins list into string

HELLO WORLD, TO, MOHAMED, AYMAN
hello world, to, mohamed, ayman
Hello world, to, mohamed, ayman
Hello World, To, Mohamed, Ayman
Hello wOrlD, to, mohamed, AYMAN
Hello wOrlD, from, mohamed, AYMAN
['Hello wOrlD', 'to', 'mohamed', 'AYMAN']
IHello wOrlD, to, mohamed, AYMAN LoveHello wOrlD, to, mohamed, AYMAN You

# **Working With Numbers**

Basic Arithmetic Operations

In [ ]:
x = 7
y = 2

print(x + y)   # 9
print(x - y)   # 5
print(x * y)   # 14
print(x / y)   # 3.5
print(x // y)  # 3
print(x % y)   # 1
print(x ** y)  # 49

Built-in Math Functions

In [ ]:
print(abs(-10)) # Absolute value
print(pow(2,4)) # x raised to power y
print(round(3.5)) # Rounds to nearest integer
print(int(3.7)) # Converts to integer
print(float(3)) # Converts to float

10
16
4
3
3.0

Math Module – for advanced math functions

In [ ]:
import math

print(math.sqrt(16))      # 4.0
print(math.ceil(3.2))     # 4
print(math.floor(3.8))    # 3
print(math.pi)            # 3.141592653589793
print(math.factorial(5))  # 120

Random Numbers

In [ ]:
import random

print(random.randint(1, 10))      # Random int from 1 to 10
print(random.random())            # Random float from 0 to 1

# **Getting input from user**

Basic Input

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

Getting Numeric Input

In [ ]:
age = int(input("Enter your age: "))     # Convert to integer
height = float(input("Enter your height: "))  # Convert to float

print("Age:", age)
print("Height:", height)

Multiple Inputs in One Line

In [ ]:
x, y = input("Enter two numbers: ").split(", ")
print("x =", x)
print("y =", y)

Enter two numbers: 12, 20
x = 12
y = 20

# **lists**

Creating a List

In [ ]:
fruits = ["apple", "banana", "mango"]
numbers = [1, 2, 3, 4, 5, 6]
mixed = [1, "hi", 3.5, True]
empty = []

Accessing Elements

In [ ]:
print(fruits[1])
print(numbers[-1])
print(mixed[0:2])
print(numbers[::3])

banana
6
[1, 'hi']
[1, 4]

List Methods

In [ ]:
fruits.append("orange") # Adds item to the end
fruits.insert(1, "kiwi") # Inserts x at index i
fruits.remove("mango") # Removes first occurrence of x

In [ ]:
mixed.pop(0) # Removes and returns item at index i
numbers.index(2) # Returns index of first x
numbers.count(3) # Counts how many times x appears
numbers.sort() # Sorts the list in ascending order
fruits.reverse() # Reverses the list
fruits.clear() # Removes all items

Modifying Items

In [ ]:
fruits[1] = "grape"    # changes "banana" to "grape"

Looping Through a List

In [ ]:
for fruit in fruits:
    print(fruit)

Check if Item Exists

In [ ]:
if "apple" in fruits:
    print("Yes, apple is in the list")

Yes, apple is in the list

 List Comprehension

In [ ]:
squares = [x**2 for x in range(5)]  # [0, 1, 4, 9, 16]

Combining & Copying Lists

In [ ]:
list1 = [1, 2]
list2 = [3, 4]

combined = list1 + list2        # [1, 2, 3, 4]
copy_list = list1.copy()

# **Tuples**

Creating a Tuple

In [ ]:
my_tuple = (1, 2, 3)
colors = ("red", "green", "blue")
mixed = (1, "hi", 3.5)

Creating a Tuple

In [ ]:
print(colors[1])     # green
print(colors[-1])    # blue

green
blue

Tuple Methods

In [ ]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))     # Returns how many times x appears
print(t.index(4))     # Returns the index of first x

3
4

Loop Through a Tuple

In [ ]:
for color in colors:
    print(color)

red
green
blue

Tuple Packing and Unpacking

In [ ]:
person = ("Ali", 20, "Egypt")
name, age, country = person
print(name)    # Ali

Ali

# **Sets**

1. Creating a Set

In [ ]:
fruits = {"apple", "banana", "mango"}
numbers = {1, 2, 3, 4, 1, 2, 3, 5}
empty_set = set()   # ❌ {} creates a dictionary

#Sets automatically remove duplicates.

🔹 2. Set Characteristics

✅ Unordered: No index or position.

✅ Mutable: You can add or remove items.

✅ Unique items only.

3. Basic Set Operations

In [ ]:
fruits.add("orange") #Add item
fruits.update(["kiwi", "melon"]) # Add multiple
print(fruits)
fruits.remove("apple") # Remove item
fruits.discard("apple") # Remove item safely
fruits.pop() # Remove random
fruits.clear() # clear all
del fruits # Delete set

{'kiwi', 'melon', 'banana', 'orange', 'apple', 'mango'}

5. Set Operations (Mathematical)

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)    # Union: {1, 2, 3, 4, 5}
print(a & b)    # Intersection: {3}
print(a - b)    # Difference: {1, 2}
print(a ^ b)    # Symmetric Difference: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

6. Looping Through a Set

In [ ]:
for item in fruits:
    print(item)

# **Dictionaries**

Creating a Dictionary

In [ ]:
student = {
    "name": "Ali",
    "age": 20,
    "grade": "A"
}

Accessing Data

In [ ]:
print(student["grade"])         # A
print(student.get("country"))   # None (doesn't give error)

A
Ali

Changing Values

In [ ]:
student["grade"] = "B"      # Update value
student["country"] = "Egypt"  # Add new key-value pair

Dictionary Methods

In [ ]:
print(student.keys()) #Returns all keys
print(student.values()) #Returns all values
print(student.items()) #Returns all key-value pairs
print(student.get("age")) #Safe access to value
print(student.update({"age": 21})) #Update dictionary
print(student.pop("grade")) #Remove item by key
print(student.clear()) #Removes all items

dict_keys(['name', 'age', 'grade', 'country'])
dict_values(['Ali', 20, 'B', 'Egypt'])
dict_items([('name', 'Ali'), ('age', 20), ('grade', 'B'), ('country', 'Egypt')])
20
None
B
None

Looping Through a Dictionary

In [ ]:
# Keys only
for key in student:
    print(key)

# Keys and values
for key, value in student.items():
    print(key, ":", value)

 Nested Dictionaries

In [ ]:
students = {
    "student1": {"name": "Ali", "age": 20},
    "student2": {"name": "Sara", "age": 19}
}

print(students["student1"]["name"])  # Ali

Ali

# **if, elif, else**

Basic if Statement

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")

 Using else

In [ ]:
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are underage.")

Using elif (else if)

In [ ]:
mark = 75

if mark >= 90:
    print("Grade A")
elif mark >= 75:
    print("Grade B")
elif mark >= 50:
    print("Grade C")
else:
    print("Fail")

### Comparison Operators

| Operator | Description      | Example  |
| -------- | ---------------- | -------- |
| `==`     | Equal to         | `x == y` |
| `!=`     | Not equal to     | `x != y` |
| `>`      | Greater than     | `x > y`  |
| `<`      | Less than        | `x < y`  |
| `>=`     | Greater or equal | `x >= y` |
| `<=`     | Less or equal    | `x <= y` |

### Logical Operators

| Operator | Example            | Meaning                     |
| -------- | ------------------ | --------------------------- |
| `and`    | `x > 5 and x < 10` | Both conditions True        |
| `or`     | `x > 5 or x < 3`   | At least one condition True |
| `not`    | `not (x > 10)`     | Reverses condition result   |

### Short if (Ternary Operator)

In [ ]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

# **Match**

1. What is match in Python?
Introduced in Python 3.10+.

Used for pattern matching (like switch-case).

Cleaner than using multiple if-elif-else

2. Basic Syntax of match

In [ ]:
value = 2

match value:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Other number")

Two

3. Example: Menu with match

In [ ]:
choice = input("Enter A, B, or C: ")

match choice:
    case "A":
        print("Option A selected.")
    case "B":
        print("Option B selected.")
    case "C":
        print("Option C selected.")
    case _:
        print("Invalid choice.")

4. Using Conditions in case

In [ ]:
mark = 85

match mark:
    case m if m >= 90:
        print("Grade A")
    case m if m >= 75:
        print("Grade B")
    case m if m >= 50:
        print("Grade C")
    case _:
        print("Fail")

Grade B

5. Matching Tuples / Lists

In [ ]:
point = (0, 1)

match point:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"Y axis at {y}")
    case (x, 0):
        print(f"X axis at {x}")
    case _:
        print("Somewhere else")

# **Function**

1. Defining a Function

In [ ]:
def greet():
    print("Hello, Python!")

2. Calling a Function

In [ ]:
greet()

3. Function with Parameters

In [ ]:
def greet(name):
    print("Hello,", name)

greet("Ali")
greet("Sara")

4. Function with Return Value

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)   # Output: 8

5. Default Parameter Value

In [ ]:
def greet(name="Guest"):
    print("Hello,", name)

greet()             # Hello, Guest
greet("Omar")       # Hello, Omar

6. Multiple Return Values

In [ ]:
def get_stats(numbers):
    total = sum(numbers)
    count = len(numbers)
    return total, count

t, c = get_stats([1, 2, 3, 4])
print("Total:", t)
print("Count:", c)

7. Keyword Arguments

In [ ]:
def student_info(name, age):
    print(f"Name: {name}, Age: {age}")

student_info(age=20, name="Ali")

8. Using *args (Multiple Positional Arguments)

In [ ]:
def add_numbers(*args):
    total = sum(args)
    print("Sum is:", total)

add_numbers(1, 2, 3, 4, 5)

9. Using **kwargs (Multiple Keyword Arguments)

In [ ]:
def show_info(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

show_info(name="Ali", age=20, grade="A")

# **While Loops**

Basic while Loop Syntax

In [ ]:
count = 1

while count <= 5:
    print("Count:", count)
    count += 1  # increase count to avoid infinite loop

2. Example: Countdown

In [ ]:
x = 5

while x > 0:
    print(x)
    x -= 1

print("Blast off!")

 3. Using break to Stop the Loop

In [ ]:
i = 1

while True:
    print(i)
    if i == 5:
        break    # stops the loop
    i += 1

4. Using continue to Skip Code

In [ ]:
x = 0

while x < 5:
    x += 1
    if x == 3:
        continue   # skip printing 3
    print(x)

5. Using else with while

In [ ]:
num = 3

while num > 0:
    print(num)
    num -= 1
else:
    print("Loop ended")

 6. Infinite while Loop (Be Careful!)

In [ ]:
while True:
    print("This runs forever unless you use break!")

 7. Practical Example: Password Checker

In [ ]:
password = ""

while password != "admin":
    password = input("Enter password: ")

print("Access granted!")

# **For Loops**

1. Basic for Loop

In [ ]:
for i in range(5):
    print("Number:", i)

2. Looping Through a List

In [ ]:
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
    print(fruit)

3. Using range(start, stop, step)

In [ ]:
for x in range(1, 11, 2):
    print(x)

4. Looping Through a String

In [ ]:
word = "Python"

for letter in word:
    print(letter)

5. Using break to Stop the Loop

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

6. Using continue to Skip

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

7. Using else with for

In [ ]:
for i in range(3):
    print(i)
else:
    print("Loop finished!")

 8. Nested for Loops

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, "*", j, "=", i * j)

# **Lambda**

1. Basic Syntax

In [ ]:
square = lambda x: x * x
print(square(5))   # Output: 25

2. Examples

In [ ]:
#1
add = lambda a, b: a + b
print(add(10, 20))   # Output: 30

#2
max = lambda a, b: a if a > b else b
max(12,14)

30

14

3. Lambda Inside Functions

In [ ]:
def multiplier(n):
    return lambda x: x * n

double = multiplier(2)
print(double(5))   # Output: 10

4. Using Lambda with map(), filter(), and sorted()

In [ ]:
# Map()
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)   # [1, 4, 9, 16]

# Filter
nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)     # [2, 4, 6]

# Stored
words = ["apple", "banana", "cherry"]
sorted_words = sorted(words, key=lambda word: len(word))
print(sorted_words)

5. One-Time Use Lambda

In [ ]:
print((lambda x, y: x * y)(4, 5))   # Output: 20

# **OOP**

# 1. Basic OOP Concepts

| Concept     | Meaning                                   |
| ----------- | ----------------------------------------- |
| Class       | Blueprint/template to create objects      |
| Object      | Instance of a class                       |
| Attribute   | Variable inside a class/object            |
| Method      | Function inside a class/object            |
| Constructor | `__init__()` method to initialize objects |

Creating a class

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print("Hello,", self.name)

Creating an object

In [ ]:
s1 = Student("Ali", 20)
s1.greet()   # Output: Hello, Ali

Using Attributes and Methods

In [ ]:
print(s1.name)   # Access attribute
s1.name = "Sara" # Modify attribute
s1.greet()       # Call method

# 2. Inheritance

1. Single Inheritance

In [ ]:
class Parent:
    def speak(self):
        print("Hello from Parent")

class Child(Parent):  # Child inherits from Parent
    def greet(self):
        print("Hello from Child")

c = Child()
c.speak()   # Inherited from Parent
c.greet()   # From Child itself

2. Multilevel Inheritance

In [ ]:
class Grandparent:
    def method_gp(self):
        print("I am Grandparent")

class Parent(Grandparent):
    def method_p(self):
        print("I am Parent")

class Child(Parent):
    def method_c(self):
        print("I am Child")

c = Child()
c.method_gp()
c.method_p()
c.method_c()

3. Multiple Inheritance

In [ ]:
class Father:
    def job(self):
        print("Engineer")

class Mother:
    def hobby(self):
        print("Painting")

class Child(Father, Mother):  # Inherits from both Father and Mother
    pass

c = Child()
c.job()
c.hobby()

4. Method Overriding

Child class can override (change) methods inherited from the parent class.

In [ ]:
class Parent:
    def show(self):
        print("Parent Method")

class Child(Parent):
    def show(self):  # Overriding the method
        print("Child Method")

c = Child()
c.show()  # Calls the overridden method in Child

5.Using super() to Call Parent Methods

Use super() inside child class methods to call the parent class’s method.

In [ ]:
class Parent:
    def show(self):
        print("Message from Parent")

class Child(Parent):
    def show(self):
        super().show()  # Calls Parent's method
        print("Message from Child")

c = Child()
c.show()